/*Estilos generales*/
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  border: 0;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #09090b;
}

[data-bs-theme="light"] {
  --bs-body-bg: #f6fbff;
}

section {
  scroll-margin-top: 140px;
}

/*Barra de navegacion*/
.navbar {
  background-color: var(--bs-body-bg);
  border-bottom: 2px solid rgba(15, 196, 171, 0.2);
}

.navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
}

.navbar .point {
  font-size: 1.6rem;
  color: #0fc4ab;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #0fc4ab;
}

.barra {
  max-width: 1200px;
}

/*
.navbar.scrolled {
  background-color: #f2f3f4;
}
*/

/*Modo oscuro*/
.dropdown-menu .dropdown-item {
  font-size: 14px;
  background: none;
}
.theme-icon-active,
#bd-theme::after {
  color: var(--icon-color, #09090b) !important;
}

[data-bs-theme="dark"] {
  --icon-color: white;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: #0fc4ab !important;
  color: white !important;
}

.añaña {
  border: none;
  font-size: 1.5rem;
  background: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/*Seccion hero*/
.fila-section {
  max-width: 1200px;
  padding: 100px 40px 60px 10px;
  margin: 70px auto 30px auto;
}

.saludo {
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 1px;
}

.title-me {
  color: #0fc4ab;
  max-width: 500px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 4rem;
  background: linear-gradient(
    to right,
    rgba(15, 196, 171, 0),
    rgba(15, 196, 171, 0.1)
  );
  border-right: 3px solid #0fc4ab;
  margin-bottom: 15px;
}

.carrer {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #0fc4ab
}

.descripcion-yo {
  margin-top: 15px;
  font-size: 1.1rem;
}

.scroller {
  max-width: 600px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list i {
  margin: 0 12px;
  font-size: 2.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
  color: #0fc4ab;
}

.col-perfil img {
  width: auto;
  height: auto;
  max-width: 310px;
  max-height: 310px;
  animation: float 4s ease-in-out infinite;
  background: linear-gradient(
    to top,
    rgba(15, 196, 171, 0),
    rgba(15, 196, 171, 0.4)
  );
  border-radius: 50%;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.button {
  padding: 12px 19px;
  border: none;
  color: #0fc4ab;
  cursor: pointer;
  background-color: rgba(15, 196, 171, 0.3);
  border-radius: 7px;
  font-weight: bold;
  transition: 0.5s;
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 13px;
  box-shadow: rgba(150, 143, 143, 0.2) 0px 2px 8px 0px;
  margin: 20px 80px 30px 0;
}

.button:hover {
  background-color: rgba(85, 225, 200, 0.3);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.saveicon {
  width: 17px;
}

/*Section About*/
.about {
  max-width: 1200px;
  padding: 40px;
}

.about .about1 img {
  margin-top: -100px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about2 .title-about {
  color: #0fc4ab;
  padding-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.about2 .text-about {
  text-align: left;
}

.about2 .goals-container {
  margin-top: 20px;
}

.about2 .goal-item i {
  font-size: 2rem;
  color: #0fc4ab;
}

.about2 .text-goals {
  text-align: center;
  font-size: 0.8rem;
}

/*Proyectos Section*/
.proyectos {
  max-width: 1200px;
  padding: 30px;
}

.text-proyectos {
  margin-bottom: -10px;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.repo-link {
  font-size: 1.7rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* modo oscuro */
[data-bs-theme="dark"] .repo-link:hover {
  color: #0fc4ab;
  text-shadow: 0 0 5px rgba(15, 196, 171, 0.8), 0 0 15px rgba(15, 196, 171, 0.5);
}

/*  modo claro */
[data-bs-theme="light"] .repo-link:hover {
  color: #0fc4ab;
  text-shadow: 0 0 3px rgba(15, 196, 171, 0.4), 0 0 8px rgba(15, 196, 171, 0.3);
}

.card-text {
  font-size: 0.8rem;
  margin-top: 5px;
}

.cards-row {
  margin-top: 50px;
}

/*Skills section*/
.exp-section {
  max-width: 1000px;
  margin: auto;
  padding: 80px;
}

.dev {
  border: 2px solid #0fc4ab;
  padding: 20px;
  background-color: rgba(15, 196, 171, 0.1);
  border-radius: 0.75em;
}

/* modo oscuro */
[data-bs-theme="dark"] .dev i:hover {
  color: #0fc4ab;
  text-shadow: 0 0 5px rgba(15, 196, 171, 0.2), 0 0 15px rgba(15, 196, 171, 0.5);
}

/*  modo claro */
[data-bs-theme="light"] .dev i:hover {
  color: #0fc4ab;
  text-shadow: 0 0 3px rgba(15, 196, 171, 0.4), 0 0 8px rgba(15, 196, 171, 0.3);
}

.title-section {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
}

.title-section-exp {
  text-align: center;
  font-weight: bold;
}

.text-exp {
  margin-bottom: 40px;
}

.title-front {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0fc4ab;

  margin-bottom: 40px;
}

.tec-container i {
  margin: 0px 30px;
  font-size: 2.6rem;
  transition: all 0.3s ease;
}

.tec-container .tec {
  margin-top: 10px;
  font-size: 1rem;
}

/*Contacto*/
.container-contact {
  padding: 30px;
  max-width: 1200px;
}

.container-contact {
  margin-bottom: 150px;
}
/* From Uiverse.io by AmIt-DasIT */
.svg-wrapper {
  position: relative;
  width: 190px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
}

.shape {
  stroke-dasharray: 100 300;
  stroke-dashoffset: -297;
  fill: transparent;
  stroke: #0fc4ab;
  stroke-width: 5px;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
  font-size: 22px;
  top: -48px;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  color: #0fc4ab;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.svg-wrapper:hover {
  background-color: rgba(15, 196, 171, 0.1);
  transition: 1s;
}

/*Footer*/
.buttons-container-footer {
  padding: 10px;
}

.buttons-container-footer i {
  margin: 0 20px;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.buttons-container-footer i:hover {
  color: #0fc4ab;
  text-shadow: 0 0 5px rgba(15, 196, 171, 0.8), 0 0 15px rgba(15, 196, 171, 0.5);
}

.copy {
  border-top: 2px solid rgba(15, 196, 171, 0.2);
  padding: 10px;
  font-size: 0.8rem;
}

/*Responsividad*/
@media screen and (max-width: 728px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
  /*Hero Section*/
  .fila-section {
    padding: 50px 10px 5px 10px;
    margin-bottom: 50px;
  }

  .saludo {
    font-size: 1.8rem;
  }

  .title-me {
    max-width: 335px;
    font-size: 2.6rem;
  }

  .carrer {
    font-size: 0.8rem;
  }

  .descripcion-yo {
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .col-perfil img {
    margin-top: 35px;
    max-width: 190px;
    max-height: 190px;
  }

  .buttons-container-img button {
    margin: 20px 0 0 0;
  }

  .tag-list i {
    margin: 0 10px;
    font-size: 2rem;
  }

  /*Titulo de las secciones*/
  .title-section {
    font-size: 2.5rem;
  }

  /*About Section*/
  .about {
    padding: 30px;
  }

  .about .about1 img {
    margin-top: -70px;
  }

  .about2 {
    margin-top: -60px;
  }

  .about2 .text-about {
    text-align: center;
    font-size: 1rem;
  }

  .about2 .goal-item i {
    font-size: 1.2rem;
  }

  .about2 .text-goals {
    font-size: 0.7rem;
  }

  /*Experiencia Section*/
  .text-exp {
    margin-bottom: 50px;
  }

  .exp-section {
    padding: 40px;
  }

  .dev-f {
    margin-top: -25px;
  }

  .dev i {
    font-size: 1.3rem;
  }

  .dev .tec {
    font-size: 0.8rem;
  }

  /*Proyectos Section*/
  .proyectos {
    padding: 30px;
  }

  .proyectos .text-proyectos {
    margin-bottom: -20px;
  }

  .proyectos .card img {
    height: auto;
  }

  .proyectos .card-title {
    font-size: 1.2rem;
  }

  .proyectos .repo-link i {
    font-size: 25px;
  }

  /*Footer Section*/
  .footer {
    padding: 30px;
  }

  .buttons-container-footer i {
    font-size: 25px;
  }

  .footer .copy {
    font-size: 0.7rem;
  }
}
