/*Estilos generales*/
* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  border: 0;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #09090b;
}

[data-bs-theme="light"] {
  --bs-body-bg: #f6fbff;
}

section {
  scroll-margin-top: 140px;
}

.title-section {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bold;
}

/*Barra de navegacion*/
.navbar {
  background-color: var(--bs-body-bg);
  border-bottom: 2px solid rgba(15, 196, 171, 0.2);
}

.navbar-brand {
  font-size: 1.7rem;
  font-weight: bold;
}

.navbar .point {
  font-size: 1.7rem;
  color: #0fc4ab;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 0.9rem;
  margin: 0 15px 0 40px;
}

.navbar-nav .nav-link:hover {
  color: #0fc4ab;
}

.barra {
  max-width: 1200px;
}

/*Lenguaje*/
.lang-button {
  background: none;
}

.lang-button span {
  width: 22px;
  height: 15px;
  object-fit: cover;
  border-radius: 3px;
  margin: 8px 1px 1px 1px;
}

/*Modo oscuro*/
.dropdown-menu {
  min-width: 100%;
}

.dropdown-menu .dropdown-item {
  font-size: 12px;
  background: none;
}

.theme-icon-active,
#bd-theme::after {
  color: var(--icon-color, #09090b) !important;
}

[data-bs-theme="dark"] {
  --icon-color: white;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: #0fc4ab !important;
  color: white !important;
}

.añaña {
  border: none;
  font-size: 1.5rem;
  background: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(
    to bottom,
    rgba(15, 196, 171, 0) 0%,
    rgba(15, 196, 171, 0.03) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.fila-section {
  max-width: 1200px;
  padding: 130px 0 60px 10px;
  margin: 60px auto 30px auto;
}

.saludo {
  font-weight: bold;
  font-size: 3.1rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.title-me {
  color: #0fc4ab;
  max-width: 530px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 4.2rem;
  background: linear-gradient(
    to right,
    rgba(15, 196, 171, 0),
    rgba(15, 196, 171, 0.1)
  );
  border-right: 3px solid #0fc4ab;
  margin-bottom: 15px;
}

.carrer {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #0fc4ab;
}

.descripcion-yo {
  margin-top: 15px;
  font-size: 1rem;
}

.scroller {
  max-width: 100%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list i {
  margin: 0 12px;
  font-size: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
  color: #0fc4ab;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.tag-list i:hover {
  color: #0fc4ab;
  text-shadow: 0 0 5px rgba(15, 196, 171, 0.6), 0 0 15px rgba(15, 196, 171, 0.5);
}

.col-perfil img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  animation: float 4s ease-in-out infinite;
  background: linear-gradient(
    to top,
    rgba(15, 196, 171, 0),
    rgba(15, 196, 171, 0.4)
  );
  border-radius: 50%;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.button {
  padding: 12px 19px;
  border: none;
  color: #0fc4ab;
  cursor: pointer;
  background-color: rgba(15, 196, 171, 0.3);
  border-radius: 7px;
  font-weight: bold;
  transition: 0.5s;
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 0.9rem;
  text-decoration: none;
  box-shadow: rgba(150, 143, 143, 0.2) 0px 2px 8px 0px;
  margin: 15px auto 30px auto;
}

.button:hover {
  background-color: rgba(15, 196, 171, 0.7);
  color: #ffffff;
  box-shadow: rgba(15, 196, 171, 0.4) 0px 5px 10px;
}

.icon-linkedin {
  font-size: 1.2rem;
}

/*Section About*/
.about {
  max-width: 1200px;
  padding: 40px;
}

.about .about1 img {
  margin-top: -100px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about2 .title-about {
  color: #0fc4ab;
  padding-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.about2 .text-about {
  text-align: left;
}

.about2 .goals-container {
  margin-top: 20px;
}

.about2 .goal-item i {
  font-size: 2rem;
  color: #0fc4ab;
}

.about2 .text-goals {
  text-align: center;
  font-size: 0.8rem;
}

/*Proyectos Section*/
.proyectos {
  max-width: 1200px;
  padding: 30px;
}

.card img {
  max-height: 200px;
  object-fit: cover;
}

.card-text {
  font-size: 0.8rem;
  margin-top: 5px;
}

.project-links {
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
/* modo oscuro */
[data-bs-theme="dark"] .project-links:hover {
  color: #0fc4ab;
  text-shadow: 0 0 5px rgba(15, 196, 171, 0.8), 0 0 15px rgba(15, 196, 171, 0.5);
}

/*  modo claro */
[data-bs-theme="light"] .project-links:hover {
  color: #0fc4ab;
  text-shadow: 0 0 3px rgba(15, 196, 171, 0.4), 0 0 8px rgba(15, 196, 171, 0.3);
}

.project-button {
  padding: 5px;
  font-size: 0.5rem;
  background: none;
  border-radius: 2px;
  border: 1px solid #0fc4ab;
}

/*Skills section*/
.exp-section {
  max-width: 1000px;
  margin: auto;
  padding: 80px;
}

.dev {
  border: 2px solid #0fc4ab;
  padding: 20px;
  background-color: rgba(15, 196, 171, 0.1);
  border-radius: 0.75em;
}

[data-bs-theme="dark"] .dev i:hover {
  color: #0fc4ab;
  text-shadow: 0 0 5px rgba(15, 196, 171, 0.2), 0 0 15px rgba(15, 196, 171, 0.5);
}

[data-bs-theme="light"] .dev i:hover {
  color: #0fc4ab;
  text-shadow: 0 0 3px rgba(15, 196, 171, 0.4), 0 0 8px rgba(15, 196, 171, 0.3);
}

.title-front {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0fc4ab;

  margin-bottom: 40px;
}

.tec-container i {
  margin: 0px 30px;
  font-size: 2.6rem;
  transition: all 0.3s ease;
}

.tec-container .tec {
  margin-top: 10px;
  font-size: 1rem;
}

/*Contacto*/
.container-contact {
  padding: 30px;
  max-width: 1200px;
}

.container-contact {
  margin-bottom: 150px;
}

.svg-wrapper {
  position: relative;
  width: 190px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
}

.shape {
  stroke-dasharray: 100 300;
  stroke-dashoffset: -297;
  fill: transparent;
  stroke: #0fc4ab;
  stroke-width: 5px;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
  font-size: 22px;
  top: -48px;
  position: relative;
  font-weight: 600;
  text-decoration: none;
  color: #0fc4ab;
}

.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.svg-wrapper:hover {
  background-color: rgba(15, 196, 171, 0.1);
  transition: 1s;
}

/*Footer*/
footer {
  background: linear-gradient(
    to bottom,
    rgba(15, 196, 171, 0),
    rgba(15, 196, 171, 0.03)
  );
}

.buttons-container-footer {
  padding: 30px;
}

.buttons-container-footer a{
  margin: 0 25px;
  font-size: 25px;
  text-decoration: none;
}

.buttons-container-footer i {
  transition: all 0.3s ease;
}

.buttons-container-footer i:hover {
  color: #0fc4ab;
  text-shadow: 0 0 5px rgba(15, 196, 171, 0.6), 0 0 15px rgba(15, 196, 171, 0.5);
}

.copy {
  border-top: 2px solid rgba(15, 196, 171, 0.2);
  padding: 10px;
  font-size: 0.8rem;
}

/* Media Queries */ 
@media screen and (max-width: 728px) {
  /* Estilos generales */
  .title-section {
    font-size: 2rem;
  }

  .text-section {
    font-size: 0.9rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  /* Hero Section */
  .fila-section {
    padding: 60px 10px 5px 10px;
    margin-bottom: 50px;
  }

  .saludo {
    font-size: 1.8rem;
  }

  .title-me {
    max-width: 360px;
    font-size: 2.8rem;
  }

  .carrer {
    font-size: 0.8rem;
  }

  .descripcion-yo {
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .col-perfil img {
    margin-top: 35px;
    max-width: 195px;
    max-height: 195px;
  }

  .button {
    align-items: center;
    font-size: 0.9rem;
    margin: 15px auto 30px auto;
  }

  .icon-linkedin {
    font-size: 1rem;
  }

  .tag-list i {
    margin: 0 10px;
    font-size: 2rem;
  }

  /* About Section */
  .about {
    padding: 30px;
  }

  .about .about1 img {
    margin-top: -70px;
  }

  .about2 {
    margin-top: -60px;
  }

  .about2 .text-about {
    text-align: center;
    font-size: 0.9rem;
  }

  .about2 .goal-item i {
    font-size: 1.2rem;
  }

  .about2 .text-goals {
    font-size: 0.7rem;
  }

  /* Proyectos Section */
  .proyectos {
    padding: 20px;
  }

  .proyectos .card img {
    height: auto;
  }

  .proyectos .card-title {
    font-size: 1.2rem;
  }

  .proyectos .repo-link i {
    font-size: 1.3rem;
  }

  /* Experiencia Section */
  .exp-section {
    padding: 35px;
  }

  .dev-f {
    margin-top: -5px;
  }

  .dev i {
    font-size: 1.6rem;
  }

  .dev .tec {
    font-size: 0.8rem;
  }

  /* Footer */
  .buttons-container-footer i {
    font-size: 1.4rem;
  }

  footer .copy {
    font-size: 0.7rem;
  }
}

@media (min-width: 576px) and (max-width: 728px) {
  .about2 {
    margin-top: 0;
  }
}

@media (min-width: 729px) and (max-width: 991.98px) {
  .container-img {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .container-img {
    margin-top: -10px;
  }

  .button {
    margin: 15px 85px 30px 0;
  }
}
